<section class="register">
  <div class="flex min-h-full flex-col justify-center px-8 pb-12">
    <div class="sm:mx-auto w-1/2 sm:max-w-sm">
      <h2
        class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Register to your account
      </h2>
    </div>

    <div class="cart mt-8 sm:mx-auto sm:w-3/4 sm:max-w-sm bg-white px-6 py-6">
      <form class="space-y-6" method="POST" action="/register">
        <% if(messages.error) { %>
        <span class="text-red-600 text-sm"> <%= messages.error %> </span>
        <% } %>
        <div>
          <label
            for="name"
            class="block text-md font-medium leading-6 text-gray-900"
            >Name</label
          >
          <div class="mt-2">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="enter your name"
              value="<%= messages.name %>"
              class="block w-full rounded-md border-1 py-2 px-2 text-gray-800 shadow-sm placeholder:text-gray-400 focus:ring-0 focus:ring-orange-700 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <label
            for="email"
            class="block text-md font-medium leading-6 text-gray-900"
            >Email</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              placeholder="enter your email"
              value="<%= messages.email %>"
              class="block w-full rounded-md border-1 py-2 px-2 text-lg-gray-800 shadow-sm placeholder:text-gray-400 focus:ring-0 focus:ring-orange-700 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-md font-medium leading-6 text-gray-900"
              >Password</label
            >
            <!-- <div class="text-md">
                <a
                  href="#"
                  class="font-semibold"
                  >Forgot password?</a
                >
              </div> -->
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              placeholder="enter your password"
              autocomplete="current-password"
              class="block w-full rounded-md border-0 py-2 px-2 text-gray-800 text-md shadow-sm focus:ring-0 focus:ring-orange-700 placeholder:text-gray-400 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="flex justify-between items-center pt-4">
          <button
            type="submit"
            class="btn-primary w-2/5 justify-center rounded-full px-2 py-2 text-lg font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Register
          </button>

          <a href="/login" class="inline-block align-baseline font-bold text-md"
            >Already have an account?</a
          >
        </div>
      </form>
    </div>
    <p class="mt-8 text-center text-sm text-gray-400">
      &copy;2023 Only Coder's Corp. All rights reserved.
    </p>
  </div>
</section>
