@import "./variables";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a:hover {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
}

// cart.ejs
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }

  .btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
      background: $primary-hover;
    }
  }
}

section.login,
section.register {
  box-sizing: border-box;
  background: $secondary;
  height: 80vh;
  .btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
      background: $primary-hover;
    }
  }
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
  
  input {
    border : 1px solid $secondary;
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }

  .cart {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(116, 116, 116);
  }
}

