@import "./_variables";
@import "toastr/build/toastr.min.css";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a:hover {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
}

.cart-button {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
}

// cart.ejs
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }

  .btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
      background: $primary-hover;
    }
  }
}

section.login,
section.register {
  box-sizing: border-box;
  background: $secondary;
  height: 80vh;
  .btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
      background: $primary-hover;
    }
  }
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }

  input {
    border: 1px solid $secondary;
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }

  .cart {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(116, 116, 116);
  }
}

@keyframes custom-fade-in {
  // this is a in-built class of toastr
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Success Message Styles */
.toast.toast-success {
  height: 50px !important;
  background-color: rgb(40, 205, 40) !important; /* Green color */
  border-radius: 10px !important;
  animation: custom-fade-in 0.2s !important;
}

/* Error Message Styles */
.toast.toast-error {
  height: 50px !important;
  background-color: rgb(177, 9, 9) !important; /* Red color */
  border-radius: 10px !important;
  animation: custom-fade-in 0.2s !important;
}

a.link {
  color: $primary;
}
