<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page not found.</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        height: calc(100vh - 86px);
        display: flex;
        justify-content: center;
        align-items: center;
        background : rgb(222, 219, 219);
      }
      .main {
        width: 20rem;
        border: 2px solid white;
        box-shadow: 0 2px 8px rgb(179, 177, 177);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background : white;
      }
      .main h1 {
        color : blue;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1 class="error">Page not found !</h1>
    </div>
  </body>
</html>
